body {
    margin: 0;
    background-image: url("../assets/Background.jpg");
    background-size: cover; /* Масштабує зображення, щоб покрити всю область */
    background-position: center; /* Центрує зображення по горизонталі та вертикалі */
    background-repeat: no-repeat; /* Вимикає повторення зображення */
    background-attachment: fixed; /* Фіксує зображення, щоб воно не прокручувалося */
}

.bodyContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
